In [1]:
from itertools import combinations
import numpy as np
import pandas as pd
import seaborn as sns
from string import ascii_uppercase
import time as time

%matplotlib inline

Create a dictionary of all possible 1 to 6-tile leaves

In [2]:
tilebag = ['A']*9+['B']*2+['C']*2+['D']*4+['E']*12+\
          ['F']*2+['G']*3+['H']*2+['I']*9+['J']*1+\
          ['K']*1+['L']*4+['M']*2+['N']*6+['O']*8+\
          ['P']*2+['Q']*1+['R']*6+['S']*4+['T']*6+\
          ['U']*4+['V']*2+['W']*2+['X']*1+['Y']*2+\
          ['Z']*1+['?']*2
            
tiles = [x for x in ascii_uppercase] + ['?']
# leaves_2 = sorted(list(set(list(combinations(tilebag,2)))))
# leaves_2 = [x[0]+x[1] for x in leaves_2]

In [3]:
t0 = time.time()

maximum_superleave_length = 5
leaves = {i:sorted(list(set(list(combinations(tilebag,i))))) for i in 
          range(1,maximum_superleave_length+1)}

for i in range(1,maximum_superleave_length+1):
    leaves[i] = [''.join(leave) for leave in leaves[i]]
    
t1 = time.time()
print('Calculated superleaves up to length {} in {} seconds'.format(
    maximum_superleave_length,t1-t0))

Calculated superleaves up to length 5 in 19.196850061416626 seconds

The bottom creates the full set of leaves for all lengths from 1-5 (6 breaks on my local machine)

In [4]:
for i in range(1,maximum_superleave_length+1):
    print(i,len(leaves[i]))

1 27
2 373
3 3509
4 25254
5 148150

In [5]:
column_dict = {
    0:'rack',
    1:'score',
    2:'tiles_remaining'
}
df = pd.read_csv('log_games.csv', header=None, keep_default_na=False)
df.rename(columns=column_dict,inplace=True)

In [6]:
tile_limit = 1
df = df.loc[df['tiles_remaining']>=tile_limit]

Alphabetize rack

In [7]:
df['rack'] = df['rack'].apply(lambda x: ''.join(sorted(x)))

In [8]:
df_dict = {'': df}

In [9]:
tb = time.time()

for multiple in range(1,maximum_superleave_length+1):
    t0 = time.time()

    # iterate through all 27 tiles
    for c in leaves[1]:
        if multiple*c in leaves[multiple]:
            condition = df_dict[(multiple-1)*c]['rack'].apply(lambda x: multiple*c in x)
            df_dict[multiple*c] = df_dict[(multiple-1)*c].loc[condition]
            df[multiple*c] = condition
            df[multiple*c].fillna(False, inplace=True)
            
    t1 = time.time()
    print('Added columns for all duplicates up to length {} in {} seconds'.format(multiple,t1-t0))
    
te = time.time()
print('Added all necessary columns in {} seconds'.format(te-tb))

Added columns for all duplicates up to length 1 in 143.9655900001526 seconds
Added columns for all duplicates up to length 2 in 92.13934993743896 seconds
Added columns for all duplicates up to length 3 in 31.657102823257446 seconds
Added columns for all duplicates up to length 4 in 19.807263135910034 seconds
Added columns for all duplicates up to length 5 in 10.858633995056152 seconds
Added all necessary columns in 298.42888283729553 seconds

In [10]:
# following variable indicates what length of superleave we try to calculate up to.
# WARNING: might break for now if you try to do too long.
ev_calculator_max_length = 4

In [11]:
all_leaves = []

for i in range(1,ev_calculator_max_length+1):
    all_leaves += leaves[i]
    
df_dict = {leave: pd.DataFrame() for leave in all_leaves}
df_dict[''] = df

ev_df = pd.DataFrame(columns=['mean','std','count','ev','synergy'],
                     index=all_leaves)

To find all of the racks corresponding to a particular leave, we have added columns to the dataframe of plays df marking each letter (A, B, C...) and also for duplicates (AA, BB, CC...) and triplicates where possible (AAA, DDD, EEE...).

If the letters in a given leave are all different, we can look for rows by using df['A']&df['B']. However, if there are duplicates involved, we have to look for df['AA']. The following function gives the correct dataframe columns to be looked up.

In [ ]:
def get_columns(leave):
    letters=list(set(leave))
    tags = []
    
    for l in letters:
        tags += [sum([l==letter for letter in leave])*l]
    
    return tags

In [ ]:
for leave_length in range(1,ev_calculator_max_length+1):
    print(leave_length)
    t0 = time.time()
    
    for leave in leaves[leave_length]:
        condition = df_dict[leave[:-1]][get_columns(leave)].all(axis=1)
        df_dict[leave] = df_dict[leave[:-1]].loc[condition]
        ev_df.loc[leave]['mean'] = df_dict[leave]['score'].mean()
        ev_df.loc[leave]['std'] = df_dict[leave]['score'].std()
        ev_df.loc[leave]['count'] = len(df_dict[leave])
        
    t1 = time.time()
    print('Calculated mean, std and count in {} seconds'.format(t1-t0))

1
Calculated mean, std and count in 33.53370523452759 seconds
2
Calculated mean, std and count in 151.88216018676758 seconds
3
Calculated mean, std and count in 346.1307852268219 seconds
4

In [ ]:
ev_df['pct'] = 100*ev_df['count']/len(df)
ev_df['ev'] = ev_df['mean']-df['score'].mean()

Calculate leave "synergy", in other words the difference between the EV of the rack and what we'd expect just from adding the individual values of the tiles

In [ ]:
for leave_length in range(2,ev_calculator_max_length+1):
    for leave in leaves[leave_length]:
        ev_df.loc[leave]['synergy'] = ev_df.loc[leave]['ev']-\
                                      sum([ev_df.loc[c]['ev'] for c in leave])

In [ ]:
ev_df

In [ ]:
ev_df.to_csv('leave_values_011219_v7.csv')

In [24]:
ev_df.sort_values('synergy')

        mean      std     count         ev  synergy        pct
SSS  34.1852  18.3993      7731   -1.32534 -20.2978  0.0418657
YY?  40.4391  14.7511      3696    4.92856  -16.923   0.020015
KX?  46.8817  12.6115      3517    11.3712 -14.5166  0.0190456
XZ?  52.5693  14.4442      3218    17.0587 -14.4254  0.0174264
WW?  38.2988  15.0233      4927    2.78819 -14.1912  0.0266812
RRR  24.2387  11.3792    151484   -11.2719 -14.1155   0.820331
SSZ  41.5167  16.6089     10356    6.00614 -13.5018  0.0560809
SSX  39.9536  15.7869     10506    4.44298 -13.4212  0.0568931
HH?  46.4122  20.0918      3763    10.9016 -13.3813  0.0203778
JX?   47.499   12.065      3625    11.9885 -13.3302  0.0196305
UU?    37.18  18.7241     78603    1.66945 -13.0865   0.425659
NNN  24.2668  11.2432    174354   -11.2438 -12.9848   0.944179
EEE  28.6284  14.6557    652163   -6.88213 -12.6399    3.53166
VV?  37.4893  16.0571      9521    1.97877 -12.5722  0.0515591
AAA  26.9508  11.7626    296593   -8.55973 -12.5364    1.60614
WX?  46.8821  13.9985      7285    11.3715 -12.0383  0.0394505
QSS  34.7046  14.5168     16629  -0.805955 -12.0292   0.090051
DDD  26.8641  12.2955     18296   -8.64644 -11.9288  0.0990783
TTT  25.0783    12.14    157311   -10.4322 -11.8984   0.851886
FV?  40.9322  17.0594     21530    5.42162 -11.5945   0.116591
JZ?   50.907  14.6985      3558    15.3964  -11.566  0.0192676
LLL  23.6538  10.5628     39996   -11.8568  -11.565    0.21659
HJ?   46.552  14.0285      7436    11.0415 -11.4985  0.0402682
III  24.1098  9.90067    721478   -11.4008 -11.4735    3.90702
FJ?  44.1803   13.668      8036    8.66975 -11.4694  0.0435174
QX?  47.5039  13.4976      4945    11.9934  -11.206  0.0267787
KV?  42.6456  16.2506      9778    7.13507 -11.1081  0.0529508
GX?  48.0623  17.2798     12836    12.5518 -11.0237  0.0695108
JSS  37.8359   14.287     12059    2.32532 -11.0172  0.0653031
MQ?  43.9982   16.133     11450     8.4876 -10.9787  0.0620052
..       ...      ...       ...        ...      ...        ...
EQU  43.6903  19.0257    183793    8.17976  10.0119   0.995294
AQU  44.3911  17.8749    147349    8.88055  11.3064   0.797939
IQU   43.285   18.598    180926    7.77439  11.5015   0.979769
?    54.9192  25.1511   1707622    19.4086      NaN    9.24729
A    36.8361  18.8678   8316804    1.32554      NaN     45.038
B    35.1204  16.7445   2355819  -0.390212      NaN    12.7575
C    36.3152  18.7269   2399229   0.804599      NaN    12.9925
D    36.6047  18.7607   4293197    1.09413      NaN     23.249
E    37.4298   19.654  10163946    1.91925      NaN    55.0408
F    35.5469  15.4998   2155441  0.0363451      NaN    11.6724
G    34.4616  17.4353   4033589   -1.04899      NaN    21.8431
H    37.9477  16.7506   1952294    2.43714      NaN    10.5723
I    35.5348  18.8481   9795770  0.0242382      NaN     53.047
J    36.2047  12.7758   1089626   0.694169      NaN    5.90065
K    36.7739  15.1085   1027335     1.2633      NaN    5.56333
L    35.4133  19.0373   5099563  -0.097262      NaN    27.6157
M    36.9933    17.83   2144535    1.48277      NaN    11.6133
N    36.0909  19.4518   7009034   0.580319      NaN     37.956
O    35.2041  17.9802   8337358  -0.306498      NaN    45.1493
P    36.2213  17.5097   2220310   0.710763      NaN    12.0236
Q    34.0855  13.9599   1565650   -1.42506      NaN    8.47847
R    36.4585  19.8752   6791618   0.947892      NaN    36.7787
S    41.8347  21.2131   3565481    6.32417      NaN    19.3082
T    35.9993  19.3329   6969576   0.488718      NaN    37.7424
U    33.1842  16.8019   6242860   -2.32632      NaN     33.807
V    33.0818  15.3768   2955186    -2.4288      NaN    16.0032
W     34.296  14.4731   2236099   -1.21461      NaN    12.1091
X    40.7264   14.171    952087    5.21584      NaN    5.15584
Y     36.732  15.0429   1952851    1.22148      NaN    10.5753
Z    42.3702  15.8633    938779    6.85962      NaN    5.08377

[3909 rows x 6 columns]